<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
	
		<!-- VO&DTO를 등록하세요 (별칭 설정)--> 
		<typeAliases>
			<typeAlias type="com.bit.dto.UserInfo" alias="userInfo"/>
			<typeAlias type="com.bit.dto.ProductInfo" alias="productInfo"/>
			<typeAlias type="com.bit.dto.CompanyInfo" alias="companyInfo"/>
			<typeAlias type="com.bit.dto.CategoryInfo" alias="categoryInfo"/>
			<typeAlias type="com.bit.dto.CategoryCount" alias="categoryCount"/>
			<typeAlias type="com.bit.dto.CommentDTO" alias="commentDto"/>
		</typeAliases>
		<typeHandlers>
			<typeHandler handler="org.apache.ibatis.type.IntegerTypeHandler" javaType="int" jdbcType="INTEGER" />
		</typeHandlers>
	</configuration>